<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
  <h3>welcome to medlog</h3>
  <h1>log in</h1>
  <form action="/log" method="post">
      <h3>name</h3>
      <input type="text " name="fname">
      <h3>number</h3>
      <input type="number" name="number">
      <button type="submit">log in</button>
  </form>
   <a href="/usersign">Sign in first</a> 
   <a href="/do">Sign in for doctor</a> 

</body>
</html>